/BanamerServidor/nbproject/private/
/BanamerProtocolo/nbproject/private/
/BanamerServidor/build/
/BanamerProtocolo/dist/
/BanamerProtocolo/build/
/BanamerServidor/dist/
/BanamerServer/nbproject/private/
/BanamerServer/dist/
/BanamerServer/build/
/Ascci/nbproject/private/
/Ascci/build/
/Ascci/dist/